
  <div class="py-5 text-center">
    <p class="lead">Primer Parcial LAB 4 Diaz Boutet Santiago</p>
  </div>

  <div class="row">

    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Alta Actor</h4>

        <div class="row">
          <div class="col-md-5 m-3">
            <label for="firstName">Nombre</label>
            <input [ngModelOptions]="{standalone: true}" type="text" class="-control  d-block" id="firstName" placeholder="" value="" required=""[(ngModel)]="actor.Nombre">
            <div class="invalid-feedback">
              Nombre valido requerido
            </div>
          </div>
          <div class="col-md-6 m-3">
            <label for="lastName">Apellido</label>
            <input [ngModelOptions]="{standalone: true}" type="text" class="-control  d-block" id="lastName" placeholder="" value="" required="" [(ngModel)]="actor.apellido">
            <div class="invalid-feedback">
              Apellido Valido requerido.
            </div>
          </div>
        </div>




        <div class="col-md-6 mb-3">
          <label for="address2">Fecha de nacimiento </label>
          <input [ngModelOptions]="{standalone: true}" type="date" class="-control  d-block" id="address2" placeholder="Apartment or suite" [(ngModel)]="actor.fecha_nacimiento">
        </div>


          <div class="col-md-5 mb-3">
            <label for="country">Sexo</label>
            <select class="custom-select d-block w-100" id="country" required="" [(ngModel)]="actor.sexo">
              <option value="">Elija...</option>
              <option>Hombre</option>
              <option>Mujer</option>
            </select>
            <div class="invalid-feedback">
              Seleccione un genero
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="state">Pais</label>
            <input [ngModelOptions]="{standalone: true}" type="text" class="-control d-block" id="state" placeholder="" value="" required="" [(ngModel)]="actor.nacionalidad" disabled>
            <div class="invalid-feedback">
              Apellido Valido requerido.
            </div>
          </div>

        <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="altaActor()">Dar alta</button>

    </div>
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Paises</span>
      </h4>
      <app-tabla-paises  (mandaPais)="SeleccionoPais($event)" ></app-tabla-paises>
    </div>

  </div>
