<div class="col-md-4">
  <h2>Modificar</h2>
  <p>Nombre Actor.</p>
  <input type="text" lista [(ngModel)]="pais.Nombre" *ngIf="pais">
  <p>Apellido</p>
  <input type="text" lista [(ngModel)]="pais.apellido" *ngIf="pais">
  <p>Sexo</p>
  <input type="text" lista [(ngModel)]="pais.sexo" *ngIf="pais">
  <p>Fecha de nacimiento</p>
  <input type="text" lista [(ngModel)]="pais.fecha_nacimiento" *ngIf="pais">
  <p>nacionalidad</p>
  <input type="text" lista [(ngModel)]="pais.nacionalidad" *ngIf="pais">
  <p><a class="btn btn-secondary" role="button"(click)="accion()">Limpiar Vista »</a></p>
</div>
