<table class="table" *ngIf="!TipoLista">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">apellido</th>
      <th scope="col">Sexo</th>
      <th scope="col">Fecha de nacimiento</th>
      <th scope="col">Nacionalidad</th>
      <th scope="col">Foto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of lista">
      <td>{{item.Nombre}}</td>
      <td>{{item.apellido}}</td>
      <td>{{item.sexo}}</td>
      <td>{{item.fecha_nacimiento}}</td>
      <td>{{item.nacionalidad}}</td>
      <td> <img src="{{item.foto}}" alt="" width="50px" srcset=""></td>
      <p><a class="btn btn-secondary"  role="button" (click)="ActorSeleccionado(item)">Seleccionar</a></p>
    </tr>
  </tbody>
</table>
